.body{

    background-color: #edede9;
    font-family: 'Alegreya', serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Public Sans', sans-serif;
}
font{
 font:   verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
 
}